[submodule "vim/bundle/securemodelines.git"]
	path = vim/bundle/securemodelines.git
	url = https://github.com/ciaranm/securemodelines.git
[submodule "vim/bundle/detectindent.git"]
	path = vim/bundle/detectindent.git
	url = https://github.com/ciaranm/detectindent.git
[submodule "vim/bundle/xmledit.git"]
	path = vim/bundle/xmledit.git
	url = https://github.com/sukima/xmledit.git
[submodule "vim/bundle/nerdtree.git"]
	path = vim/bundle/nerdtree.git
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rails.git"]
	path = vim/bundle/rails.git
	url = http://github.com/nerdrew/vim-rails.git
[submodule "vim/bundle/nerdcommenter.git"]
	path = vim/bundle/nerdcommenter.git
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/repeat.git"]
	path = vim/bundle/repeat.git
	url = http://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/ack.git"]
	path = vim/bundle/ack.git
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/ruby.git"]
	path = vim/bundle/ruby.git
	url = git@github.com:nerdrew/vim-ruby.git
[submodule "vim/bundle/surround.git"]
	path = vim/bundle/surround.git
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/fugitive.git"]
	path = vim/bundle/fugitive.git
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gundo.git"]
	path = vim/bundle/gundo.git
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vcscommand.git"]
	path = vim/bundle/vcscommand.git
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "vim/bundle/easygrep.git"]
	path = vim/bundle/easygrep.git
	url = https://github.com/vim-scripts/EasyGrep.git
[submodule "vim/bundle/taglist.git"]
	path = vim/bundle/taglist.git
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/l9.git"]
	path = vim/bundle/l9.git
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/bundle/supertab.git"]
	path = vim/bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/snipmate.git"]
	path = vim/bundle/snipmate.git
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib.git"]
	path = vim/bundle/tlib.git
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/add-mw-utils.git"]
	path = vim/bundle/add-mw-utils.git
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/snippets.git"]
	path = vim/bundle/snippets.git
	url = git@github.com:nerdrew/snipmate-snippets.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/yankstack"]
	path = vim/bundle/yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "vim/bundle/simplefold"]
	path = vim/bundle/simplefold
	url = git@github.com:nerdrew/vim-simplefold.git
[submodule "vim/bundle/flex-development-support"]
	path = vim/bundle/flex-development-support
	url = https://github.com/vim-scripts/Flex-Development-Support.git
[submodule "vim/bundle/textobj-rubyblock"]
	path = vim/bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/moria"]
	path = vim/bundle/moria
	url = git://github.com/vim-scripts/moria.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/greplace"]
	path = vim/bundle/greplace
	url = git://github.com/vim-scripts/greplace.vim.git
[submodule "vim/bundle/nginx-vim-syntax"]
	path = vim/bundle/nginx-vim-syntax
	url = git://github.com/evanmiller/nginx-vim-syntax.git
[submodule "vim/bundle/decho"]
	path = vim/bundle/decho
	url = git://github.com/vim-scripts/Decho.git
